$dark: #00548F;

.nav-link {
    &:hover {
        background-color: $dark;
    }
}

.card {
    border: none;
}

.wrap {
    width: 940px;
    .content {
        padding: 20px 0 4em;
        clear: both;
        .main {
            display: contents;
            width: 750px;
        }
    }
}